    /* I noticed how good the teal fit in the design so I decided to make the borders cornered to remind me of that soft feel*/
    :root{
        font-family: poppins, Arial, Helvetica, sans-serif;
        --mainTheme: 	hsl(178, 90%, 35%);
      }
      body {
        background-color: white;
      }
      header {
        background-color: var(--mainTheme);
        color: white;
        border-radius: 5px;
        border-style: solid;
        border-width: 0;
        border-color: var(--mainTheme);
      }
      h2 {
        color: var(--mainTheme);
      }
      h1{
        padding: 0.67em 0 0 0;
      }
      h1,footer{
        text-align: center;

      }
      button {
        background-color: #FF790E;
         border-radius: 5px;
        border-style: solid;
        border-width: 5px;
        border-color: #FF790E;
      }
      footer {
        background-color: var(--mainTheme);
        border-radius: 5px;
        border-style: solid;
        border-width: 5px;
        border-color: var(--mainTheme);
        color: white;
        padding: 0.5em;
      }
      nav{
        background-color: hsl(178, 50%, 25%);
        border-radius: 5px;
      }
      nav>ul{
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 0;
        margin: 0;
      }
      nav>ul>a{
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        padding: 0.67em 5 0.67em 5;
        margin: 0 5 0 5;
      }
      nav>ul>a:active{
        color: #044643;
      }
      nav>ul>a{
        color: white;
      }